


<header>

    <div>
        <div class="grid grid-cols-3 text-white font-extrabold text-center p-5 w-full font-lato top-0 z-50">

            <div class="flex items-center ">
                <img src="/logo1.jpeg" alt="logo NeuraTech" class="w-[20%] h-auto px-5 text-lg"> 
                <a href="#" class="transition delay-1000 hover:underline hover:underline-offset-4">NeuraTech S.A.S</a>
            </div>
            <div class="flex  items-center">
                <nav class="w-full">
                    <ul class="flex justify-center">
                        <li> <a href="#Portafolio" class="p-2 rounded-lg hover:bg-black hover:text-white">Portafolio</a></li>
                        <li><a href="#Nosotros" class="p-2 rounded-lg hover:bg-black hover:text-white">Nosotros</a></li>
                        <li><a href="#Proyectos" class="p-2 rounded-lg hover:bg-black hover:text-white">Proyectos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="flex items-center justify-center">
                <nav class="bg-[#129CB6] rounded-md px-4">
                    <a href="#Contactos">Contactanos</a>
                </nav>
            </div>
    
        </div>
    </div>
    

</header>

