


<header>
    <nav class="fixed bg-[#2C3E50] text-3xl text-white font-extrabold p-5 justify-center w-full font-lato top-0 z-50">
        <div class="grid grid-cols-2 place-items-center">
            <div class="flex items-center font-Audio">
                <img src="/logo1.jpeg" alt="logo NeuraTech" class="w-[10%] px-5 text-lg"> 
                <h1>NeuraTech S.A.S</h1>
            </div>
            <div>
                <ul class="flex justify-evenly">
                    <li class="px-5"> <a href="#Portafolio" class="p-2 focus:bg-sky-600 hover:bg-sky-600 rounded-lg">Portafolio</a></li>
                    <li class="px-5"><a href="#Nosotros" class="p-2 focus:bg-sky-600 hover:bg-sky-600  rounded-lg">Nosotros</a></li>
                    <li class="px-5"><a href="#Proyectos" class="p-2 focus:bg-sky-600 hover:bg-sky-600  rounded-lg">Proyectos</a></li>
                    <li class="px-5"><a href="#Contactos" class="p-2 focus:bg-sky-600 hover:bg-sky-600  rounded-lg">Contactanos</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>

